.Navigation{
    position: fixed;
    top: 0;
    width: 100vw;
}
.navbar , .logo , .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}

.navbar{
    background-color: rgb(29, 48, 48);
}

.logo-title , li , a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.menu li:hover{
    text-decoration: underline;
}
.menu li {
    margin: 0 5px;
}
.FirstBanner{
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 48, 48);
    display: flex;
    flex-direction: row;
}
.menu input{
    background-color: rgb(29, 48, 48);
    border: rgb(29, 48, 48);
    width: 20vw;
    border-bottom: 2px solid white;
}
.menu input::placeholder{
    color: white;
}
.banner-text{
    width: 50vw;
    height: 100vh;
    color: yellow;
    font-size: 80px;
    text-align: center;
    padding: 20vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-img{
    width: 49vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-img img{
    width: 20vw;
}
.box{
    width: 300px;
    padding: 10px;
    margin: 10px;
    height: 400px;
    background-color: rgb(67, 87, 123);
    border-radius: 5px;
}
.box .thumbnail{
    text-align: center;
}

.heading h3{
    color: white;
}
.description{
    color: rgb(211, 236, 159);
}
.types{
    padding: 8px;
    background-color: rgb(139, 139, 4);
    width: auto;
    border-radius: 4px;
}